@model IEnumerable<Vidly_MVC.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@Html.ActionLink("New Customers", "New", "Customer", null, new { @class = "btn btn-primary" })

<br /><br />

@if (!Model.Any())
{
    <p>No Custers added yet!</p>
}

<table id="customers" class="table table-bordered table-responsive table-striped">
    <tr>
        <th>Customers</th>
        <th>Membership Type</th>
        <th>Action</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
            </td>
            <td>
                @customer.MembershipType.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Customers", new { id = customer.Id }, null)
                <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>

    }
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#customers .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure to delete this customer?")) {
                    $.ajax({
                        url: '/api/customers/' + button.attr("data-customer-id"),
                        method: 'DELETE',
                        success: function () {
                            button.parents("tr").remove();
                        },
                        error: function () {

                        }
                    });
                }
            });
        });
    </script>
}
